extends ./_layout.jade

block title
  title Lautan Luas - Industries

block content
  .container-fluid.hero

  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li.active Industries

  //- Intro paragraph
  .padding-extra-large
    .container
      .row
        .col-sm-12
          p Lautan Luas was founded in 1951 as an importer and distributor of basic chemicals. Today, the Company has evolved to become a distributor and manufacturer of basic and specialty chemicals, working with over 100 international principals, supplying more than 1,000 chemical products and serving some 2,000 industrial end-users throughout Indonesia and the Asia-Pacific region.
            | To oversee its vast distribution networks, Lautan Luas, is headquartered in Jakarta, operates five branches and seven representative offices located in major cities throughout the Indonesian archipelago. A regional office in Singapore overlooks the Company’s activities in China, Thailand, and Vietnam. Lautan Luas currently has a stake in sixteen manufacturing facilities in Indonesia, two in China, and a water treatment chemical manufacturing plant in Vietnam. The Lautan Luas
            |support & services business is comprised of five entities providing laboratory services, supply chain, information technology, water treatment solutions, and industrial estate – to provide value-added services to customers.

        
  //- Industries
  .padding-large.gray-bg
    .container.industries-list
      .row.title
        .col-sm-12
          h5 Industries
      .row.content
        //- each industry in [1,2,3,4,5,6,7,8,9,10]
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 1
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Soda Ash','Glass and Ceramic','Handling','Agriculture']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item

        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 2
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Pulp and Paper']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item

        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 3
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Water Treatment','Oil Field and Mining','Specialty Chemicals','Sugar Processing']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 4
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['PVC Rigid','PVC Soft and Footwear','Flexible Packaging','Engineering Polymer']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 5
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Coating, Adhesive and','Ink','Rubber','Electroplating']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 6
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Textile - Sizing','Textile - Dyeing and','Finishing','Textile - Printing']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 7
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Feed – Pharma','Food - Specialty','Food - Commodity','Non Dairy Products']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 8
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['PHC - Specialty','PHC - Commodity','Leather']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 9
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Export']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
        .col-sm-4
          .row.wrapper
            .col-xs-5
              .box.white
                span Distribution Channel 10
                // a(href="industries--distribution-channel.html") Distribution Channel 1
            .col-xs-7
              .box.blue
                ul.list-unstyled
                  each item in ['Acid / Aluminium']
                    li 
                      a(href="industries--distribution-channel--industry-single.html")= item
       
  //- Services
  .padding-large.white-bg
    .container.services
      .row.title
        .col-sm-12
          h5 Services
      .row.content
        each item in [1,2,3,4]
          .col-md-3.col-xs-6.item
            a(href="industries--service-single.html")
              .text-wrapper
              .text Lab Services and RnD
              img.img-responsive(src="images/1965.png")
       

block script