extends ./_layout.jade

block title
  title Lautan Luas - Investor Relations - Stock Information

block content
  .container-fluid.hero

  .breadcrumb-wrapper.hidden-xs
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li
          a(href="investor-relations.html") Investor Relations
        li.separator
        li.active Stock Information

  .gray-bg.padding-small.investor-relation-submenu
    .container
      .row.pull-right.investor-menu
        .col-xs-12
          ul.list-inline
            each item in [{link: 'investor-relations--stock-information.html', text: 'STOCK INFORMATION', state: 'active'},{link: 'investor-relations--financial-information.html', text: 'FINANCIAL INFORMATION'},{link: 'investor-relations--news-events.html', text: 'NEWS AND EVENTS'},{link: 'investor-relations--faq.html', text: 'FAQ'}]
              li(class=item.state)
                a(href=item.link)= item.text

  //- Stock Information + Percentation
  .white-bg
    .container-fluid
      .row.block-stock-info--title
        .col-sm-6.text-left 
          h5 ltls.jk
        .col-sm-6.text-right 
          h5 may 15, 2015
      .row.block-stock-info
        .col-sm-4.col-xs-12.col-md-2
          .item
            .title Share Price
            .money
              span.currency IDR
              span.nominal 830.00

        .col-sm-4.col-xs-6.col-md-2
          .item
            .title open
            .money
              span.currency IDR
              span.nominal 830.00
        .col-sm-4.col-xs-6.col-md-2
          .item
            .title Prev Close
            .money
              span.currency IDR
              span.nominal 830.00
        .col-sm-4.col-xs-6.col-md-2
          .item.success
            .title day's high
            .money
              span.currency IDR
              span.nominal 830.00
        .col-sm-4.col-xs-6.col-md-2
          .item.danger
            .title day's low
            .money
              span.currency IDR
              span.nominal 830.00
        .col-sm-4.hidden-xs.col-md-2
          .item
            .title volume
            .money
              span.currency IDR
              span.nominal 830.00

  .white-bg.padding-extra-large
    .container 
      .row
        .col-xs-12
          img.img-responsive.center-block(src="images/graph.jpg")

  .gray-bg.padding-large
    .container.share-price
      .row
        .col-xs-8.col-sm-6
          h5 Share Price History
        .col-xs-4.col-sm-2.col-sm-offset-4
          select.form-control#year-select
            option 2000
            option 2001
            option 2002
            option 2003
            option 2004
            option(selected) 2005
      .row
        .col-xs-12
          table.table.table-responsive#filter-year
            thead
              tr 
                th(style="") Quarter
                th(style="") High
                th(style="") Low
                th(style="") Average Volume
                th(style="display:none;") Year
            tbody
              each item in ['Q1','Q2','Q3','Q4']
                tr
                  td=item
                  td 1.700
                  td 1.450
                  td 1.800.000
                  td(style="display:none;") 2000
              each item in ['Q1z','Q2z','Q3z','Q4z']
                tr
                  td=item
                  td 1.700
                  td 1.450
                  td 1.800.000
                  td(style="display:none;") 2001
              each item in ['Q1x','Q2x','Q3x','Q4x']
                tr
                  td=item
                  td 1.700
                  td 1.450
                  td 1.800.000
                  td(style="display:none;") 2002
              each item in ['Q1a','Q2a','Q3a','Q4a']
                tr
                  td=item
                  td 1.700
                  td 1.450
                  td 1.800.000
                  td(style="display:none;") 2003
              each item in ['Q1t','Q2t','Q3t','Q4t']
                tr
                  td=item
                  td 1.700
                  td 1.450
                  td 1.800.000
                  td(style="display:none;") 2004
              each item in ['Q1a','Q2a','Q3a','Q4a']
                tr
                  td=item
                  td 1.704
                  td 1.454
                  td 1.800.000
                  td(style="display:none;") 2005 

  
  include ./template/investor/bottom-contact-2w.jade
            
            

block script
  script(type="text/javascript").
    $(document).ready(function() {

      var $filterYear = $('#filter-year'),
          $selectYear = $('#year-select');

      $filterYear.dataTable({
        "bFilter": true,
        "bPaginate": false,
        "bInfo" : false,
        "bSort": false,
        "sDom":"lrtip", // default is lfrtip, where the f is the filter
        'bAutoWidth': false, 
        'aoColumns' : [
          { "sWidth": "25%"},
          { "sWidth": "25%"},
          { "sWidth": "24%"},
          { "sWidth": "25%"},
          { "sWidth": "1%"},
                  ]
      });

      var oTable = $filterYear.dataTable();

      oTable.fnFilter( $selectYear.val() );

      $selectYear.change( function() { 
        oTable.fnFilter( $(this).val() ); 
      });
    });