extends ./_layout.jade

block title
  title Lautan Luas - Investor Relations - Financial Information

block content
  .container-fluid.hero

  .breadcrumb-wrapper
    .container
      ol.breadcrumb
        li
          a(href="index.html") Home
        li.separator
        li
          a(href="investor-relations.html") Investor Relations
        li.separator
        li.active Financial Information

  .gray-bg.padding-small
    .container
      .row.pull-right.investor-menu
        .col-xs-12
          ul.list-inline
            each item in [{link: 'investor-relations--stock-information.html', text: 'STOCK INFORMATION'},{link: 'investor-relations--financial-information.html', text: 'FINANCIAL INFORMATION', state: 'active'},{link: 'investor-relations--news-events.html', text: 'NEWS AND EVENTS'},{link: 'investor-relations--faq.html', text: 'FAQ'}]
              li(class=item.state)
                a(href=item.link)= item.text

  .gray-blue-bg
    .container-fluid
      .row.block-percentation
        .col-sm-2
          .item.success
            .title revenue growth
            .percentation 2.94% 
        .col-sm-2
          .item.success
            .title gross margin
            .percentation 2.94% 
        .col-sm-2
          .item.success
            .title operating margin
            .percentation 2.94% 
        .col-sm-2
          .item
            .title ebitda / net int. exp.
            .percentation 4.55
        .col-sm-2
          .item
            .title net debt / equity
            .percentation 0.97 
        .col-sm-2
          .item
            .title current ratio
            .percentation 1.28

  .white-bg.padding-large
    .container.key-performance-ratio
      .row
        .col-xs-8.col-sm-6
          h5 Key Performance Ratio
        .col-xs-4.col-sm-2.col-sm-offset-4
          select.form-control#year-select
            option 2000
            option 2001
            option 2002
            option 2003
            option 2004
            option 2005
      .row
        .col-xs-12
          table.table.table-responsive#filter-year
            thead
              tr 
                th Quarter
                th Revenue Growth 
                th Gross Margin
                th Operating Margin
                th EBITDA/Net Int. Exp.
                th Net Debt/Equity
                th Current Ratio
                th(style="display:none;") Year
            tbody
              each item in ['Q1','Q2','Q3','Q4']
                tr
                  td=item
                  td 2.94%
                  td 17.41%
                  td 7.88%
                  td 4.55
                  td 0.97
                  td 1.28
                  td(style="display:none;") 2000
              each item in ['Q1','Q2','Q3','Q4']
                tr
                  td=item
                  td 2.94%
                  td 17.41%
                  td 7.88%
                  td 4.55
                  td 0.97
                  td 1.28
                  td(style="display:none;") 2001
              each item in ['Q1','Q2','Q3','Q4']
                tr
                  td=item
                  td 2.94%
                  td 17.41%
                  td 7.88%
                  td 4.55
                  td 0.97
                  td 1.28
                  td(style="display:none;") 2002
              each item in ['Q1','Q2','Q4443','Q4']
                tr
                  td=item
                  td 2.94%
                  td 17.41%
                  td 7.88%
                  td 4.55
                  td 0.97
                  td 1.28
                  td(style="display:none;") 2003
              each item in ['Q1','Q2','Q3','Q4']
                tr
                  td=item
                  td 2.94%
                  td 17.41%
                  td 7.88%
                  td 4.55
                  td 0.97
                  td 1.28
                  td(style="display:none;") 2004
              each item in ['Q1','Q2','Q3','Q4']
                tr
                  td=item
                  td 2.94%
                  td 17.41%
                  td 7.88%
                  td 4.55
                  td 0.97
                  td 1.28
                  td(style="display:none;") 2005

  .gray-bg.padding-large
    .container.annnual-report
      .row
        .col-xs-6
          h5 Annual Reports
        .col-xs-6.pull-right.text-right
          a.view-all(href="investor-relations--reports-archive.html") View all 
            i.fa.fa-angle-right
      .row
        each item in [2010,2011,2012,2013]
          .col-sm-3.text-center
            a(href="#")
              img.img-responsive.center-block(src="images/annual-report-1.png")
            .caption 
              a(href="#") Annual Report 
                =item



  //- Auditor report archive page tabbed
  .white-bg.padding-large
    .container.auditor-report
      .row
        .col-sm-4
          h5 Auditor Reports
        .col-sm-4
          ul.nav.nav-tabs.tab(role="tablist")
            li.item.text-right.active(role="presentation")
              a(href="#quarterly" aria-controls="quarterly" role="tab" data-toggle="tab") Quarterly
            li.separator(style="margin-top: 4px;") /
            li.text-left.item(role="presentation")
              a(href="#yearly" aria-controls="yearly" role="tab" data-toggle="tab") Yearly
        .col-sm-4.text-right
          a.view-all(href="investor-relations--auditor-reports-archive.html") View All 
            i.fa.fa-angle-right
      .row
        .col-xs-12
          div(role="tabpanel")
            .tab-content
              #quarterly.tab-pane.fade.in.active(role="tabpanel")
                .row
                  each item in [2010,2011,2012,2013]
                    .col-sm-3.text-center
                      a(href="#")
                        img.img-responsive.center-block(src="images/annual-report-1.png")
                      .caption 
                        a(href="#") Auditor Report 
                          =item
              #yearly.tab-pane.fade(role="tabpanel")
                .row
                  each item in [2006,2007,2008,2009]
                    .col-sm-3.text-center
                      a(href="#")
                        img.img-responsive.center-block(src="images/annual-report-1.png")
                      .caption 
                        a(href="#") Auditor Report 
                          =item

  include ./template/investor/bottom-contact-2g.jade
            
            

block script
  script(type="text/javascript").
    $(document).ready(function() {

      var $filterYear = $('#filter-year'),
          $selectYear = $('#year-select');

      $filterYear.dataTable({
        "bFilter": true,
        "bPaginate": false,
        "bInfo" : false,
        "bSort": false,
        "sDom":"lrtip" // default is lfrtip, where the f is the filter
      });

      var oTable = $filterYear.dataTable();

      oTable.fnFilter( $selectYear.val() );

      $selectYear.change( function() { 
        oTable.fnFilter( $(this).val() ); 
      });
    });